.track {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

h4.title {
    margin-bottom: 10px;
    text-align: left;
}

h5.artist {
    margin: 10px 0;
}

button.action {
    height: 2rem;
    width: 2rem;
}

