.songs {
    width: 50%;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
}

.description {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}