.songs {
    grid-column: 2 / span 1;
    text-align: center;
}

/*TODO: Fix ul style. Looks like it has margin-left*/
ul {
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

li {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.description {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}