body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222831;
  color: #EEEEEE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  text-align: center;
  padding: 10px;
  background-color: #00ADB5;
  border: 1px solid black;
  color: black;
  font-size: medium;
}

button:hover{
  opacity: 70%;
}

button:active{
  color: #EEEEEE;
  background-color: #393E46;
}